form{
    .form-elements{
        display: flex;
        margin-bottom: 2rem;

        .icon{
            display: flex;
            cursor: pointer;
            
            h1{
                margin-left: .2px;
                letter-spacing: -1px;
                font-size: 2.35rem;
                font-family: 'Roboto Condensed', sans-serif;
            }

            @media screen and (max-width: 500px){
                .fab{font-size: 25px;}

                h1{font-size: 2rem;}
            }
        }

        .search{
            width: 100%;
            display: flex;
            justify-content: center;

            input[type=text]{
                width: 50rem;
                font-size: 2rem;

                @media screen and (max-width: 800px){
                    width: 30rem;
                }

                @media screen and (max-width: 500px){
                    width: 16rem;
                    margin-left: 2.5rem;
                    margin-left: 1rem;
                }
            }

            button{
                width: 6rem;
                border: 1px solid rgba(0, 0, 0, 0.534);
                outline: none;
                cursor: pointer;
            }

            @media screen and (max-width: 500px){}
            input[type=text],
            button{
                height: 25px;
            }

            button{
                width: 5rem;
            }
        }
    }
}