*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

body{
    font-size: 1.4rem;
    padding: 1.5rem 3rem 0 4rem;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
} 